main {
    padding: 2em;
    text-align: center;
    max-width: 1200px;
    margin: 2em auto;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    main {
        padding: 1em;
    }

    h1 {
        font-size: 2em;
    }

    section h2 {
        font-size: 1.75em;
    }

    .publication-item {
        font-size: 1em;
    }
}
